body {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(#c8b6ff, #ffbf69);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #c7f9cc;
    margin-bottom: 10px;
}

#bday-age {
    background: #c7f9cc;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #c7f9cc;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 500px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 350px;
    border: 6px solid #8eecf5;
    border-radius: 10px;
    background-image: url("images/giftbox.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("images/sloth.gif");
}

#gift-img-hot:hover {
    background-image: url("images/body.gif");
}

#gift-img-genius:hover {
    background-image: url("images/growth.gif");
}

#gift-img-badass:hover {
    background-image: url("images/habits.gif");
}

#gift-img-cheers:hover {
    background-image: url("images/yay.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/